<main>
    <section>
        <h2>Home</h2>
        <p>
            Welcome to my fantastic website! Recipedia is a virtual recipe book to which you can add recipes of your own or search online (yet to be implemented).
        </p>
    </section>

    <section>
        <h2>About Me</h2>
        <p>
            I am a software developer in the making. I enjoy making apps that promote healthy human habits.
        </p>
    </section>

    <section>
        <h2>Services</h2>
        <p>
            Discover the awesome services we offer. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
    </section>

    <section>
        <h2>Contact</h2>
        <p>
            Have questions or feedback? Reach out to us. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
    </section>
</main>