router-outlet {
    
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}

nav {
    background-color: #444;
    color: #fff;
    padding: 1em;
    display: flex;
    justify-content: space-evenly;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

main {
    margin: 20px auto;
    padding: 20px;
    height: 100%;
    min-height: 100%;
    background-color: yellowgreen;
}

footer {
    text-align: center;
    padding: 1em;
    background-color: #333;
    color: #fff;
}
