<mat-drawer-container class="recipebook-container" autosize>

    <button type="button" mat-button color="primary" (click)="drawer.toggle()">
        Toggle sidenav
    </button>
    <span>Welcome to your virtual recipe book [insert name if logged in]!</span>

    <mat-drawer #drawer class="recipebook-sidenav" mode="push">
        <p>Auto-resizing sidenav</p>
        <mat-list role="list">
            <mat-list-item role="listitem">Item 1</mat-list-item>
            <mat-list-item role="listitem">Item 2</mat-list-item>
            <mat-list-item role="listitem">Item 3</mat-list-item>
          </mat-list>          
    </mat-drawer>
  
    <div class="recipebook-main-content">
        <h1>Search for a recipe here</h1>
        <div>
            <app-recipe-search></app-recipe-search>
        </div>
        <hr>
        <h2>Display searched content bellow </h2>
        <span>More content to come</span>
    </div>
  
  </mat-drawer-container>
  